@import "compass/css3";
@import "functions";
@import "normalize";
@import "variables";
@import "extendables";
@import "mixins";
@import "responsive-js";

/* General rules
=================================================================*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
     @include box-sizing(border-box);
}

html {
    /* Enable font-size zoom for old ies */
    font-size: 100%;
}

body {
    font-family: $w-body-font;
    font-size: calc-em($w-body-size,$w-base-size);
    line-height: 1.5;
    background: #f46e24;
    color: #2c2c2c;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

#container {
    /* Fix for IOS rotation bug */
    width: 100%;
    height: 100%;
}

a {
    color: $w-link-color;
    text-decoration: underline;

    &:active {
    }

    &:hover, &:focus {
        text-decoration: none;
    }
}

.wrapper {
    clear: both;
    border-top: 1px solid #eee;
    padding-top: 10px;
    background: #fff;
    float: left;
}

.holder {
    padding: 0;
    clear: both;
    position: relative;
    float: left;
}

/* Content
=================================================================*/
h1 {
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 0;

    a {
        text-decoration: none;

        &:hover, &:focus {
        }
    }
}

/* Footer
=================================================================*/
footer {
    background: #ccc;

    .holder {
        padding: 20px 10px;
    }
}

/* Menu
=================================================================*/
#menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    @include inline-block();
    
    li {
        padding: 10px;
        display: none;
        color: #fff;
        cursor: pointer;
        
        &.current {
            display: block;
            
            &:after {
                content: '▼';
                margin-left: 10px;
            }
        }
    }
    
    &.active li {
        display: block;
        
        &.current {
            
            &:after {
                content: '▲';
                margin-left: 10px;
            }
        }
    }
}

/* Timetable
=================================================================*/
#venues {
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: left;
}

#timetable {
    width: 100%;
    height: 100%;
    position: relative;
    float: left;
    
    h1 {
        height: 20px;
        font-size: 14px;
        background: rgba(0,0,0,.05);
        padding: 0 10px;
        background-repeat: repeat-x;
        background-position: center center;
        background-size: auto 100%;
        text-indent: -9000px;
        /* @include opacity(.15); */
    }
    
    #timetable-scroller {
        width: 2280px;
        float: left;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }
    
    .step {
        width: $w-step-width;
        height: 100%;
        float: left;
        border-left: 1px solid #eee;
        position: relative;
        
        .label {
            width: $w-step-width;
            position: absolute;
            left: -($w-step-width / 2);
            top: 0;
            display: block;
            text-align: center;
            background: #fff;
            color: #bbb;
            font-size: 11px;
        }
    }
    
    .hour {
        border-left: 1px solid #ddd;
    }
    
    #venue-holder {
        width: 2280px;
        position: relative;
        z-index: 100;
        padding-top: 40px;
    }
    
    .venue {
        width: 100%;
        height: 70px;
        padding: 0 0 10px 0;
        /* border-bottom: 1px solid #eee; */
        border-top: 1px solid #DDD;
        position: relative;
        background-repeat: repeat-x !important;
        background-size: auto 90px !important;
        /* @include opacity(.5); */
        
        .venue-bg {
            width: 100%;
            height: 70px;
            background-repeat: repeat-x !important;
            background-size: auto 90px !important;
            background-position: center center  !important;
            @include opacity(.5);
        }
        
        .single-event {
            height: 40px;
            padding: 5px 0;
            position: absolute;
            top: 10px;
            text-align: center;
            text-decoration: none;
            @include background-image(linear-gradient(rgba(0,0,0,.75),rgba(0,0,0,.9)));
            font-size: 10px;
            color: #fff;
            @include transition-property(all);
            @include transition-duration(0.4s);
            @include transition-timing-function(ease-in-out);
            @include border-radius();
            @include box-shadow(rgba(0,0,0,.25) 0 1px 1px);
            
            &:hover, &:focus {
                @include background-image(linear-gradient(rgba(0,0,0,.9),rgba(0,0,0,.9)));
                @include box-shadow(rgba(0,0,0,.5) 0 1px 1px);
            }
        }
    }
}

#current-time {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    background: #f46e24;
    z-index: 1000;
}